
footer{
    width:100%;
    background-color: var(--main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content{
    width: 60%;
    max-width: 100rem;
    
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-footer h2{
   margin: 3rem 1rem;
}

.footer-nav-menu{
    display: flex;
    
    
}

.footer-nav-menu ul{
    margin-right: 4rem;
    margin-left: 1rem;
    border-left: 1px solid;
    padding-left: 1rem;
   
}

.footer-nav-menu ul li{
    list-style: none;
}

.footer-nav-menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.footer-nav img{
    width: 30rem
}


.agrad{

    padding-top: 3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

@media (max-width: 50rem) {
    
    
    .footer-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
   
    
    .footer-nav img{
        margin: 4rem auto;
        width: 10rem
    }

    .menu-footer{
       display: flex;
       flex-direction: column;
       align-items: center;
     }

     .agrad{

        padding-top: 3rem;
        width: 60%;
        text-align: center;
        margin-bottom: 2rem;
    }
}