

.main{
    width: 75%;
    max-width: 95rem;
}

.imgcenter{
    position: relative;
    z-index: -1;
    margin-bottom: 2rem;

}

.imgcenter img{
    width: 100%;
    height: 100%;
    

}

.imgcenter .description{
    position: absolute;
    bottom: 3rem;
    left: 3rem;

    background: linear-gradient(to left, rgb(0,0,0,0)10%, white 75% );
    border-radius: 10px;
    width: 60rem;
    max-height: 45rem;
    padding: 20px;

 
}


@media(max-width: 50rem){
    .imgcenter .description{
        position: initial;
        padding: 10px;
        width: 100%;
        background-color: none;
    }
}