@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


*{
    border: none;
    padding: 0;
    margin: 0;
}

:root{

    --main-blue:#4198FF;


    
}
ul{
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: justify;
    
    text-indent: 3rem;
    margin: 1.5rem 0 1.5rem 0;
}

html{
    font-size: 62.5%;
}

body, a{
    font-family: 'Open Sans',sans-serif;
}


.page-text {
    width: 100%;   
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}


.text{
    margin:5rem 0;
}

.text h1{
    font-size: 3.2rem;
    line-height: 4.2rem;
}

.text h3{
    font-size: 2rem;
    margin-top: 1rem;
}

.text p{
    font-size: 2rem;
    line-height: 3rem;
    text-align: justify;
    text-indent: 3rem;
    margin: 1.5rem 0 2rem 0;
}

.author {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7)

}